<html>
  <head>
    <meta charset='UTF-8' />
    <title>Reporte de eventos</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 20px; }
      h1, h2 { text-align: start; color: #333; }
      table { width: 100%; border-collapse: collapse; margin-top: 20px; }
      th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
      th { background-color: #f4f4f4; }
      .footer { margin-top: 20px; text-align: center; font-size: 12px; color: #666; }
      header { display: flex; gap: 10px; justify-content: space-between; align-items: center; }
      header h1, header h2 { margin: 0; }
      .table-container { margin-bottom: 30px; }
      .total-row { font-weight: bold; background-color: #f4f4f4; }
    </style>
  </head>
  <body>
    <header>
      <span style='display: flex; flex-direction: column; gap: 10px;'>
        <h1>Biblioteca pública municipal de Nicoya, Felipe Díaz Vidaure</h1><br>
        <h2>Reporte de eventos</h2>
      </span>
      <img
        src='{{baseUrl}}/assets/Docs/LogoBiblio.png'
        alt='Logo'
        width='190'
        height='145'
      />
    </header>
    <p><strong>Periodo:</strong> {{formatOnlyDate startDate}} a {{formatOnlyDate endDate}}</p>

    {{#each eventos}}
      <div class="table-container">
        <h3>Eventos para: {{@key}}</h3>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Lugar</th>
              <th>Instructor</th>
            </tr>
          </thead>
          <tbody>
            {{#each this}}
              <tr>
                <td>{{this.Title}}</td>
                <td>{{formatOnlyDate Date}}</td>
                <td>{{this.Location}}</td>
                <td>{{this.InchargePerson}}</td>
              </tr>
            {{/each}}
            <tr class="total-row">
              <td colspan="4">Total de eventos: {{this.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/each}}

    <div class='footer'>Generado el {{generateDate}}</div>
  </body>
</html>
